[package]
name = "pneuma-network"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
serde.workspace = true
reqwest.workspace = true
tokio.workspace = true
